/* NEON LOGO BEGIN */
:root {
  --shadow-color: #f2f3f4;
  --shadow-color-light: white;
}

.logo {
	position:absolute;
	font-family: "Archivo", sans-serif;
	font-size: 5vw;
	top: 0px;
	right: 0px;
	text-align: right;
	color: white;
	animation: flicker 15s infinite;
}

@media only screen and (max-device-width: 720px) {
	.logo {
		font-size: 15vw;
		top: 70%;
		right: -30%;
		animation: flickermobile 15s infinite;
		transform: rotate(-90deg);

		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	
	
	@keyframes flickermobile {
		0% {
			text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
			0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
			opacity: 0.1;
		}
		50% {
			text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
			0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
			opacity: 0.1;
		}
		100% {
			text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
			0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
			opacity: 0.1;
		}
	}
}

@keyframes flicker {
	0% {
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
		0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
		0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
		opacity: 1;
	}
	4% {
		opacity: 0.8;
	}
	6% {
		opacity: 0.95;
	}
	8% {
		opacity: 0.85;
	}
	10% {
		opacity: 0.95;
	}
	11% {
		opacity: 0.8;
	}
	12% {
		opacity: 0.95;
	}
	14% {
		opacity: 0.85;
	}
	16% {
		opacity: 1.00;
	}
	17% {
		opacity: 0.85;
	}
	19% {
		opacity: 0.8;
	}
	20% {
		opacity: 0.8;
	}
	24% {
		opacity: 0.9;
	}
	26% {
		opacity: 0.99;
	}
	28% {
		opacity: 0.8;
	}
	38% {
		opacity: 0.95;
	}
	40% {
		opacity: 0.8;
	}
	42% {
		opacity: 0.9;
	}
	44% {
		opacity: 0.8;
	}
	46% {
		opacity: 0.8;
	}
	56% {
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
		0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
		0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
		opacity: 0.95;
	}
	58% {
		opacity: 1.00;
	}
	60% {
		opacity: 0.8;
	}
	68% {
		opacity: 0.8;
	}
	70% {
		opacity: 0.9;
	}
	72% {
		opacity: 0.8;
	}
	93% {
		opacity: 0.8;
	}
	95% {
		opacity: 0.9;
	}
	97% {
		opacity: 0.8;
	}
	100% {
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
		0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
		0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
		opacity: 0.8;
	}
}
/* NEON LOGO END */


