/* reset */
.theme-light {
	--bgcolor: #f0f0f0;
	--fgcolor: #333333;
	--grcolor: #999999;
	--hlcolor: #ff4500;
	--gdcolor: #e2e3e4;
	--cbcolor: #f9f9f9;
	--accolor: #ff4500;
	--bshadow: -1px 1px 0px var(--fgcolor),
				-2px 2px 0px var(--fgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor),
				-6px 6px 0px var(--fgcolor),
				-7px 7px 0px var(--fgcolor),
				-8px 8px 0px var(--fgcolor),
				-9px 9px 0px var(--fgcolor),
				-40px 40px 30px var(--grcolor);
}

.theme-dark {
	--bgcolor: #212121;
	--fgcolor: #f0f0f0;
	--grcolor: #444444;
	--hlcolor: #FFD700;
	--gdcolor: #282828;
	--cbcolor: #252525;
	--accolor: #212121;
	--bshadow: -1px 1px 0px var(--fgcolor),
				-2px 2px 0px var(--fgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor),
				-6px 6px 0px var(--fgcolor),
				-7px 7px 0px var(--fgcolor),
				-8px 8px 0px var(--fgcolor),
				-9px 9px 0px var(--fgcolor);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0px solid var(--fgcolor);
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body {
	line-height: 1.2; 
	background-color: var(--bgcolor);
	background-size: 20px 20px; /* grid background cube sizes */
	background-image: /* grid background color/layout */
		linear-gradient(to right, var(--gdcolor) 1px, transparent 1px),
		linear-gradient(to bottom, var(--gdcolor) 1px, transparent 1px);
	overflow-x: hidden;
	font-family: "Overpass Mono", monospace;
	color: var(--fgcolor);
}

body a {
	text-decoration: none;
}

body a:hover {
	color: var(--hlcolor);
}

body h0 {
	font-size: 80px;
	color: var(--fgcolor);
}

body h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
	background: var(--fgcolor);
	color: var(--bgcolor);
	padding: 10px 0 0 10px;
}

body h2 {
	font-size: 28px;
	margin-bottom: 5px;
}

body h3 {
	font-size: 26px;
}

body h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

bld {
	font-weight: bold;
}

hlt {
	color: var(--hlcolor);
}

strong {
	font-weight:bold;
	color: var(--accolor);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#techBubble{
	background-color: var(--fgcolor);
	color: var(--bgcolor);
	border-radius: 4px;
	padding: 5px 5px 0px 5px;
	margin: 2px 2px 2px 0px;
	text-transform: uppercase;
}

#techDesc {
	font-family: "Overpass Mono", monospace;
	font-size: 18px;
}

a.button{
	background-color: var(--bgcolor);
	border: solid 2px var(--fgcolor);
	border-radius: 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	text-shadow: none;
}

a.button:hover{
	border: solid 2px var(--hlcolor);
}

.button {
	margin-right: 50px;
}

.button:hover {
	animation: buttonShift ease 0.2s;
    animation-fill-mode: forwards;
}

a.buttondead {
	background-color: var(--grcolor);
	border: solid 2px var(--grcolor);
	border-radius: 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	text-shadow: none;
	text-decoration: none;
	color: grey;
	cursor: default;
}

a.buttondead:hover {
	color: var(--fgcolor);
	text-decoration: none;
}

.colorpicker{
	margin: 0 auto;
	width: 100%;
}

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-x: hidden;
	z-index: 1000;
}

.container form {
	box-sizing: border-box;
	text-align: left;
	padding: 0px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: fixed; /* (original: fixed) scrolling? */
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	left: 0px;
	z-index: 1000;
}

.container form input {
	height: 0;
	width: 0;
	/*position: fixed; /* (delete) scrolling? */
	margin: 21px 50px; /* distance between buttons vertically */
	z-index: 1000;
	/*animation: navAnimation 2s ease;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;*/
}

.container form input:checked {
	outline: 0;
	border: 1;
}

.container form input:before { /* all cubes style */
	content: "";
	position: absolute;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 7px solid var(--fgcolor);
	border-radius: 0;
	cursor: default;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	background-color: var(--fgcolor); /* fill color of inactive cube */
}

.container form input:checked:before {
	background-color: var(--accolor); /* fill color of active cube */
}

.container form input:after {
	font-family: "Overpass Mono", monospace;
	content: "" attr(title) "";
	position: relative;
	left: 55px;			/* distance from left, inactive buttons */
	color: transparent;		/* color of all button text */
	text-shadow: 0 0 3px var(--fgcolor); /* use shadow instead */
	opacity: 0.75;
	padding-top: 3px;
	font-size: 35px;	/* font size of all buttons */
	display: block;
	min-width: 80px;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.container form input:checked:after {
	opacity: 1;
	color: var(--fgcolor);
	left: 65px; /* distance from left, active button */
	text-shadow: 0 0 5px var(--bgcolor);
}

.container form input:hover:after:not(label) {
	opacity: 1;
}

.container form input:nth-of-type(1):checked ~ .labels label {
	-webkit-transform: translateY(-0%);
	transform: translateY(-0%);
}

.container form input:nth-of-type(2):checked ~ .labels label {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.container form input:nth-of-type(3):checked ~ .labels label {
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.container form input:nth-of-type(4):checked ~ .labels label {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.container form input:nth-of-type(5):checked ~ .labels label {
	-webkit-transform: translateY(-400%);
	transform: translateY(-400%);
}

.container form .labels {
	opacity: 0;
	animation: fadeInAnimation ease 2s;
	animation-delay: 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.container form .labels label {
	min-width: 100vw;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	-webkit-transition: all 2.75s cubic-bezier(0.75, 0.25, 0, 1.05);
	transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

.content {
	width: 60vw;
	min-height: 70vh;
	box-sizing: border-box;
	padding: 3vw;
	margin-left: 12vw;
	text-shadow: none;
	border: solid 2px var(--fgcolor);
	border-radius: 0px;
	background: var(--cbcolor);
	box-shadow: var(--bshadow);
}

.content a, p, h1, h2, h3 { /* most/all of the text in the slides */
	color: var(--fgcolor);
}

.devicon {
	padding: 10px;
	margin: 10px;
}

.fa {
	margin: 10px;
	padding: 10px;
}

.mwl {
	position: fixed;
	left: 0px;
	bottom: 0px;
	opacity: 0.2;
}

.heart {
	fill: #fa3e3e;
	margin: 0 .5rem;
	width: 1rem;
	animation: pound .35s infinite alternate;
	-webkit-animation: pound .35s infinite alternate
}

.icontable {
    display: inline-block;
	font-size: 35px;
	width: 100%;
}

.logo {
	display: inline-block;
	position: absolute;
	left: 80px;
	top: 30px;
	width: 100px;
	height: 100px;
	font-size: 90px;
	letter-spacing: -18px;
	color: var(--fgcolor);
	background-color: var(--bgcolor);
	border: 5px solid var(--fgcolor);
	border-radius: 0px;
	padding: 0 0 0 0;
	text-align: center;
	margin: 4px 2px;
	cursor: default;
	z-index: 1001;
	text-shadow: none;
	animation: logoRainbow 1s ease infinite;
	animation-play-state: paused;
}

.logo:hover {
	animation-play-state: running;
}

.logo:hover > div {
  opacity: 0.5;
}

.mobileonly {
	display: none;
}

.nomobile tr td {
	padding: 10px;
}

.vl {
	height: 70vh;
	position: fixed;
	border-left: 6px solid var(--fgcolor);
	left: 23vw;
    box-shadow: 0 0 5px var(--fgcolor);
	opacity: 1;
	animation-name: animatevl;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
	animation-fill-mode: both;
	z-index: 1001;
}

.stylebutton{
	box-shadow: 0 0 20px var(--fgcolor);
	position: fixed;
	display: table;
	background: var(--fgcolor);
	right: -45px;
	top: -45px;
	transform: rotate(45deg);
	width: 90px;
	height: 90px;
	z-index: 1001;
}

.stylebutton:hover {
    box-shadow: 0 0 100px var(--fgcolor);
	-webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

@keyframes animatevl {
    0% {
		height: 0%;
	}
    100% {
		height: 70vh;
	}
}

@keyframes buttonShift { 
	0% { 
		box-shadow: 0 0 0 var(--hlcolor); 
	}
	100% { 
		box-shadow: -6px 6px 0 var(--hlcolor); 
	} 
}

@keyframes logoRainbow { 
	0% {
		border: 5px solid var(--fgcolor);
		box-shadow: -8px 8px 0px -3.5px var(--bgcolor),
					-8px 8px green,
					-16px 16px 0px -3.5px var(--bgcolor),
					-16px 16px purple,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px crimson,
					-32px 32px 0px -3.5px var(--bgcolor),
					-32px 32px darkorange,
					-40px 40px 0px -3.5px var(--bgcolor),
					-40px 40px gold;
	}
	20% {
		border: 5px solid var(--fgcolor);
		box-shadow: -8px 8px 0px -3.5px var(--bgcolor),
					-8px 8px gold,
					-16px 16px 0px -3.5px var(--bgcolor),
					-16px 16px green,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px purple,
					-32px 32px 0px -3.5px var(--bgcolor),
					-32px 32px crimson,
					-40px 40px 0px -3.5px var(--bgcolor),
					-40px 40px darkorange;
	}
	40% {
		border: 5px solid var(--fgcolor);
		box-shadow: -8px 8px 0px -3.5px var(--bgcolor),
					-8px 8px darkorange,
					-16px 16px 0px -3.5px var(--bgcolor),
					-16px 16px gold,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px green,
					-32px 32px 0px -3.5px var(--bgcolor),
					-32px 32px purple,
					-40px 40px 0px -3.5px var(--bgcolor),
					-40px 40px crimson;
	}
	60% {
		border: 5px solid var(--fgcolor);
		box-shadow: -8px 8px 0px -3.5px var(--bgcolor),
					-8px 8px crimson,
					-16px 16px 0px -3.5px var(--bgcolor),
					-16px 16px darkorange,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px gold,
					-32px 32px 0px -3.5px var(--bgcolor),
					-32px 32px green,
					-40px 40px 0px -3.5px var(--bgcolor),
					-40px 40px purple;
	}
	80% {
		border: 5px solid var(--fgcolor);
		box-shadow: -8px 8px 0px -3.5px var(--bgcolor),
					-8px 8px purple,
					-16px 16px 0px -3.5px var(--bgcolor),
					-16px 16px crimson,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px darkorange,
					-32px 32px 0px -3.5px var(--bgcolor),
					-32px 32px gold,
					-40px 40px 0px -3.5px var(--bgcolor),
					-40px 40px green;
	}
	100% {
		border: 5px solid var(--fgcolor);
		box-shadow: -8px 8px 0px -3.5px var(--bgcolor),
					-8px 8px green,
					-16px 16px 0px -3.5px var(--bgcolor),
					-16px 16px purple,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px crimson,
					-32px 32px 0px -3.5px var(--bgcolor),
					-32px 32px darkorange,
					-40px 40px 0px -3.5px var(--bgcolor),
					-40px 40px gold;
	}
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@-webkit-keyframes pound {
	to {
		transform:scale(1.1)
	}
}


@keyframes pound {
	to {
		transform:scale(1.1)
	}
}

@media only screen and (max-device-width: 720px) {
	body {
		line-height: 1.2;
		overflow:hidden;
	}
	
	body a {
		text-decoration: none;
	}
	
	body h1 {
		font-size: 30px;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body h2 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body h3 {
		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body p {
		font-size: 14px;
	}
	
	#profilepic img {
		height: 10vh;
	}
	
	#techBubble{
		border: solid 1px var(--fgcolor);
		border-radius: 0px;
		padding: 2px 4px;
		margin: 2px;
		font-size: 12px;
	}

	#techDesc {
		font-family: "Overpass Mono", monospace;
		font-size: 12px;
	}
	
	.content {
		width: 85vw;
		min-height: 75vh;
		padding: 10px;
		margin-left: 5vw;
		box-shadow: 
				-1px 1px 0px var(--fgcolor),
				-2px 2px 0px var(--fgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor);
	}

	.container form {
		-webkit-justify-content: flex-start; /* mobile navigation at top */
		left: 0px;
	}
/*
	.container form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container form .labels {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container form .labels label {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}*/
	
	.container form input {
		margin: 0 0 20vh 0;
	}
	
	.container form input:before {
		width: 8vw;		/* size of cubes */
		height: 20vh;
		border: 0px solid var(--fgcolor);
	}
	
	.container form input:checked:before {
		width: 8vw;		/* active cube style */
		height: 20vh;
		border: 0px solid var(--hlcolor);
		background-color: var(--hlcolor);
	}
	
	.container form input:after {
		display: none; /* desktop nav text */
	}

	.container form input:checked:after { /* text at top */
		display: block;
		position: absolute;
		opacity: 1;
		left: 10vw;
		top: 10px;
		font-size: 30px;
		text-shadow: none;
	}
	/*
	.container form input:nth-of-type(1):checked ~ .labels label {
		-webkit-transform: translateX(-0%);
		transform: translateX(-0%);
	}

	.container form input:nth-of-type(2):checked ~ .labels label {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.container form input:nth-of-type(3):checked ~ .labels label {
		-webkit-transform: translateX(-200%);
		transform: translateX(-200%);
	}

	.container form input:nth-of-type(4):checked ~ .labels label {
		-webkit-transform: translateX(-300%);
		transform: translateX(-300%);
	}

	.container form input:nth-of-type(5):checked ~ .labels label {
		-webkit-transform: translateX(-400%);
		transform: translateXS(-400%);
	}*/
	
	.devicon {
		margin: 1px;
		padding: 3px;
	}
	
	.fa {
		margin: 1px;
		padding: 3px;
	}
	
	.horiz {
		border-top: solid 2px var(--fgcolor);
		box-shadow: 0 0 6px var(--fgcolor);
		top: 50px;
		left: 5vw;
		position: absolute;
		width: 90vw;
	}
	
	.icontable {
		display: block;
		margin: 1px;
		padding: 3px;
	}
	
	.logo {
		display: none;
	}
	
	.mobileonly {
		display: block;
	}
	
	.nomobile {
		display: none;
	}
	
	.vl {
		opacity: 0;
	}
	
}