/* reset */
.theme-light {
	--bgcolor: #f0f0f0;
	--fgcolor: #333333;
	--grcolor: #999999;
	--hlcolor: #ff4500;
	--gdcolor: #cbcccd;
	--cbcolor: #f9f9f9;
	--accolor: #ff4500;
	--stcolor: #ff4500;
	--bshadow: -1px 1px 0px var(--fgcolor),
				-2px 2px 0px var(--fgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor),
				-6px 6px 0px var(--fgcolor),
				-7px 7px 0px var(--fgcolor),
				-8px 8px 0px var(--fgcolor),
				-9px 9px 0px var(--fgcolor),
				-20px 20px 10px var(--grcolor);
}

.theme-dark {
	--bgcolor: #212121;
	--fgcolor: #f0f0f0;
	--grcolor: #444444;
	--hlcolor: #ff4500;
	--gdcolor: #3d3d3d;
	--cbcolor: #252525;
	--accolor: #ff4500;
	--stcolor: #ff4500;
	--bshadow: -1px 1px 0px var(--bgcolor),
				-2px 2px 0px var(--bgcolor),
				-3px 3px 0px var(--bgcolor),
				-4px 4px 0px var(--bgcolor),
				-5px 5px 0px var(--bgcolor),
				-6px 6px 0px var(--bgcolor),
				-7px 7px 0px var(--fgcolor),
				-8px 8px 0px var(--fgcolor),
				-9px 9px 0px var(--fgcolor);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0px solid var(--fgcolor);
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body {
	line-height: 1.2; 
	background-color: var(--bgcolor);
	background-size: 20px 20px; /* grid background cube sizes */
	background-image: /* grid background color/layout */
		linear-gradient(to right, var(--gdcolor) 0px, transparent 0px),
		linear-gradient(to bottom, var(--gdcolor) 1px, transparent 1px);
	overflow-x: hidden;
	font-family: "Overpass Mono", monospace;
	color: var(--fgcolor);
}

body a {
	text-decoration: none;
}

body a:hover {
	color: var(--hlcolor);
}

body h0 {
	font-size: 80px;
	color: var(--fgcolor);
}

body h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
	background: var(--fgcolor);
	color: var(--bgcolor);
	padding: 10px 0 0 10px;
}

body h2 {
	font-size: 28px;
	margin-bottom: 5px;
}

body h3 {
	font-size: 26px;
}

body h4 {
	font-size: 20px;
	margin-bottom: 10px;
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

bld {
	font-weight: bold;
}

hlt {
	color: var(--hlcolor);
}

strong {
	font-weight:bold;
	color: var(--stcolor);
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#techBubble{
	background-color: var(--fgcolor);
	color: var(--bgcolor);
	border-radius: 4px;
	padding: 5px 5px 0px 5px;
	margin: 2px 2px 2px 0px;
	text-transform: uppercase;
}

#techDesc {
	font-family: "Overpass Mono", monospace;
	font-size: 18px;
}

a.button{
	background-color: var(--bgcolor);
	border: solid 2px var(--fgcolor);
	border-radius: 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	text-shadow: none;
}

a.button:hover{
	border: solid 2px var(--hlcolor);
}

.button {
	margin-right: 50px;
}

.button:hover {
	animation: buttonShift ease 0.2s;
    animation-fill-mode: forwards;
}

a.buttondead {
	background-color: var(--grcolor);
	border: solid 2px var(--grcolor);
	border-radius: 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	text-shadow: none;
	text-decoration: none;
	color: grey;
	cursor: default;
}

a.buttondead:hover {
	color: var(--fgcolor);
	text-decoration: none;
}

.colorpicker{
	margin: 0 auto;
	width: 100%;
}

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-x: hidden;
	z-index: 1000;
}

.container form {
	box-sizing: border-box;
	text-align: left;
	padding: 0px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: fixed; /* (original: fixed) scrolling? */
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	left: 0px;
	z-index: 1000;
}

.container form input {
	height: 0;
	width: 0;
	/*position: fixed; /* (delete) scrolling? */
	margin: 28px 50px; /* distance between buttons vertically */
	z-index: 1000;
	animation: cubeAnimation 1.5s ease;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes cubeAnimation {
	0% {
		margin: 20px 50px;
	}
	100% {
		margin: 28px 50px;
	}
	
}

.container form input:checked {
	outline: 0;
	border: 1;
}

.container form input:before { /* all cubes style */
	content: "";
	position: absolute;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 4px solid var(--fgcolor);
	border-radius: 0;
	box-shadow: var(--bshadow);
	cursor: default;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	background-color: var(--bgcolor); /* fill color of inactive cube */
}

.container form input:checked:before {
	background-color: var(--bgcolor); /* fill color of active cube */
	content: "X";
	color: var(--fgcolor);
	font-size: 30px;
	text-align: center;
	line-height: 1.2;
}

.container form input:after {
	font-family: "Overpass Mono", monospace;
	content: "" attr(title) "";
	position: relative;
	left: 50px;			/* distance from left, inactive buttons */
	color: transparent;		/* color of all button text */
	text-shadow: 0 0 3px var(--fgcolor); /* use shadow instead */
	padding-top: 3px;
	font-size: 35px;	/* font size of all buttons */
	display: block;
	min-width: 80px;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
	animation: navAnimation 3s ease;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.container form input:checked:after {
	opacity: 1;
	color: var(--fgcolor);
	left: 60px; /* distance from left, active button */
	text-shadow: 0 0 5px var(--bgcolor);
}

.container form input:hover:after:not(label) {
	opacity: 1;
}

.container form input:nth-of-type(1):checked ~ .labels label {
	-webkit-transform: translateY(-0%);
	transform: translateY(-0%);
}

.container form input:nth-of-type(2):checked ~ .labels label {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.container form input:nth-of-type(3):checked ~ .labels label {
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.container form input:nth-of-type(4):checked ~ .labels label {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.container form input:nth-of-type(5):checked ~ .labels label {
	-webkit-transform: translateY(-400%);
	transform: translateY(-400%);
}

.container form .labels {
	opacity: 0;
	animation: fadeInAnimation ease 2s;
	animation-delay: 0.75s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.container form .labels label {
	min-width: 100vw;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	-webkit-transition: all 2.75s cubic-bezier(0.75, 0.25, 0, 1.05);
	transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

.content {
	width: 60vw;
	min-height: 70vh;
	box-sizing: border-box;
	padding: 3vw;
	margin-left: 12vw;
	text-shadow: none;
	border: 3px solid var(--fgcolor);
	border-radius: 0px;
	background: var(--cbcolor);
	box-shadow: var(--bshadow);
}

.content a, p, h1, h2, h3 { /* most/all of the text in the slides */
	color: var(--fgcolor);
}

.devicon {
	padding: 10px;
	margin: 10px;
}

.fa {
	margin: 10px;
	padding: 10px;
}

.mwl {
	position: fixed;
	left: 0px;
	bottom: 0px;
	opacity: 0.2;
}

.heart {
	fill: #fa3e3e;
	margin: 0 .5rem;
	width: 1rem;
	animation: pound .35s infinite alternate;
	-webkit-animation: pound .35s infinite alternate
}

.icontable {
    display: inline-block;
	font-size: 35px;
	width: 100%;
}

.logo {
	display: inline-block;
	position: absolute;
	left: 80px;
	top: 30px;
	width: 100px;
	height: 100px;
	font-size: 90px;
	letter-spacing: -18px;
	color: var(--fgcolor);
	background-color: var(--bgcolor);
	border: 5px solid var(--fgcolor);
	border-radius: 0px;
	padding: 0 0 0 0;
	text-align: center;
	margin: 4px 2px;
	cursor: default;
	z-index: 1001;
	text-shadow: none;
	animation: logoRainbow 1s ease infinite;
	animation-play-state: paused;
}

#logonumber {
	font-size: 12px;
	color: var(--fgcolor);
	position: absolute;
	bottom: 1px;
	right: 9px;
	font-weight: bold;
	opacity: 0.85;
}

.logo:hover {
	animation-play-state: running;
}

.logo:hover > div {
  opacity: 0.5;
}

.mobileonly {
	display: none;
}

.nomobile tr td {
	padding: 10px;
}

.vl {
	height: 200vh;
	position: fixed;
	border-left: 1px solid var(--accolor);
	left: 23vw;
	top: -50vh;
    box-shadow: 0 0 0px var(--accolor);
	opacity: 0.4;
	animation-name: animatevl;
    animation-iteration-count: 1;
    animation-timing-function: ease;
	animation-delay: 1s;
    animation-duration: 2s;
	animation-fill-mode: both;
	z-index: 9;
}

.styleicon {
	display:none;
}

.stylebutton{
	padding: 5px 0px 0px 5px;
	position: fixed;
	border: 3px solid var(--fgcolor);
	display: table;
	background: var(--bgcolor);
	right: 15px;
	top: 15px;
	width: 75px;
	z-index: 1001;
	opacity: 0.5;
	cursor: pointer;
	box-shadow: -1px 1px 0px var(--bgcolor),
				-2px 2px 0px var(--bgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor);
}

.stylebutton:hover {
	-webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
	opacity: 0.8;
}

.styleicon {
	display: none;
}

@keyframes animatevl {
    0% {
		height: 0vh;
	}
    100% {
		height: 150vh;
	}
}

@keyframes navAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes buttonShift { 
	0% { 
		box-shadow: 0 0 0 var(--hlcolor); 
	}
	100% { 
		box-shadow: -6px 6px 0 var(--hlcolor); 
	} 
}

@keyframes logoRainbow { 
	0% {
		border: 6px solid var(--fgcolor);
		box-shadow: -6px 6px 0px -3.5px var(--bgcolor),
					-6px 6px green,
					-12px 12px 0px -3.5px var(--bgcolor),
					-12px 12px purple,
					-18px 18px 0px -3.5px var(--bgcolor),
					-18px 18px crimson,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px darkorange,
					-30px 30px 0px -3.5px var(--bgcolor),
					-30px 30px gold;
	}
	20% {
		border: 6px solid var(--fgcolor);
		box-shadow: -6px 6px 0px -3.5px var(--bgcolor),
					-6px 6px gold,
					-12px 12px 0px -3.5px var(--bgcolor),
					-12px 12px green,
					-18px 18px 0px -3.5px var(--bgcolor),
					-18px 18px purple,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px crimson,
					-30px 30px 0px -3.5px var(--bgcolor),
					-30px 30px darkorange;
	}
	40% {
		border: 6px solid var(--fgcolor);
		box-shadow: -6px 6px 0px -3.5px var(--bgcolor),
					-6px 6px darkorange,
					-12px 12px 0px -3.5px var(--bgcolor),
					-12px 12px gold,
					-18px 18px 0px -3.5px var(--bgcolor),
					-18px 18px green,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px purple,
					-30px 30px 0px -3.5px var(--bgcolor),
					-30px 30px crimson;
	}
	60% {
		border: 6px solid var(--fgcolor);
		box-shadow: -6px 6px 0px -3.5px var(--bgcolor),
					-6px 6px crimson,
					-12px 12px 0px -3.5px var(--bgcolor),
					-12px 12px darkorange,
					-18px 18px 0px -3.5px var(--bgcolor),
					-18px 18px gold,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px green,
					-30px 30px 0px -3.5px var(--bgcolor),
					-30px 30px purple;
	}
	80% {
		border: 6px solid var(--fgcolor);
		box-shadow: -6px 6px 0px -3.5px var(--bgcolor),
					-6px 6px purple,
					-12px 12px 0px -3.5px var(--bgcolor),
					-12px 12px crimson,
					-18px 18px 0px -3.5px var(--bgcolor),
					-18px 18px darkorange,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px gold,
					-30px 30px 0px -3.5px var(--bgcolor),
					-30px 30px green;
	}
	100% {
		border: 6px solid var(--fgcolor);
		box-shadow: -6px 6px 0px -3.5px var(--bgcolor),
					-6px 6px green,
					-12px 12px 0px -3.5px var(--bgcolor),
					-12px 12px purple,
					-18px 18px 0px -3.5px var(--bgcolor),
					-18px 18px crimson,
					-24px 24px 0px -3.5px var(--bgcolor),
					-24px 24px darkorange,
					-30px 30px 0px -3.5px var(--bgcolor),
					-30px 30px gold;
	}
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@-webkit-keyframes pound {
	to {
		transform:scale(1.1)
	}
}


@keyframes pound {
	to {
		transform:scale(1.1)
	}
}

@media only screen and (max-device-width: 720px) {
	body {
		line-height: 1.2;
		overflow:hidden;
	}
	
	body a {
		text-decoration: none;
	}
	
	body h1 {
		font-size: 30px;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body h2 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body h3 {
		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body p {
		font-size: 14px;
	}
	
	#profilepic img {
		height: 10vh;
	}
	
	#techBubble{
		border: solid 1px var(--fgcolor);
		border-radius: 0px;
		padding: 2px 4px;
		margin: 2px;
		font-size: 12px;
	}

	#techDesc {
		font-family: "Overpass Mono", monospace;
		font-size: 12px;
	}
	
	.content {
		width: 85vw;
		height: 85vh;
		padding: 10px;
		margin-left: 10vw;
		box-shadow: -1px 1px 0px var(--fgcolor),
				-2px 2px 0px var(--fgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor);
	}

	.container form {
		-webkit-justify-content: flex-start; /* mobile navigation at top */
		left: 0px;
	}
	
	/*
	.container form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container form .labels {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container form .labels label {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}*/
	
	.container form input {
		height: 0;
		width: 0;
		/*position: fixed; /* (delete) scrolling? */
		margin: 0px 0px; /* distance between buttons vertically */
		z-index: 1000;
		animation: mobileCubeAnimation 1.5s ease;
		animation-iteration-count: 1; 
		animation-fill-mode: forwards;
	}

	@keyframes mobileCubeAnimation {
		0% {
			margin: 0vh 0px;
		}
		100% {
			margin: 9.8vh 0px;
		}
	}
	
	.container form input:before {
		/*width: 6vw;		/* size of cubes 
		left: 0px;
		height: calc(20vh - 2px);
		border-width: 1px 0px 1px 0px;
		border-style: solid;
		border-color: var(--bgcolor);*/
		margin: -60px 0px; /* whole thing distance from top*/
		
		content: "";
		position: absolute;
		display: inline-block;
		width: 6vw;
		height: calc(18vh - 2px);
		border: 3px solid var(--fgcolor);
		border-radius: 0 3px 3px 0;
		box-shadow: -1px 1px 0px var(--fgcolor),
					-3px 3px 0px var(--fgcolor),
					-5px 5px 0px var(--fgcolor);
		left: 0px;
		cursor: default;
		transition: all 0.25s linear;
		-webkit-transition: all 0.25s linear;
		background-color: var(--bgcolor); /* fill color of inactive cube */
	}
	
	.container form input:checked:before {
		width: 8vw;		/* active cube style */
		left: 0vw;
		height: calc(18vh - 2px);
		border: 1px solid var(--fgcolor);
		background-color: var(--fgcolor);
	}
	
	.container form input:after {
		display: none; /* desktop nav text */
	}

	.container form input:checked:after { /* text at top */
		z-index: -1;
		display: block;
		position: absolute;
		opacity: 1;
		left: 12vw;
		top: 1vw;
		font-size: 30px;
		text-shadow: none;
		background-color: var(--bgcolor);
		padding: 5px 0px 0px 5px;
		line-height: 0.90;
		border: 3px solid var(--fgcolor);
		box-shadow: 
				-1px 1px 0px var(--bgcolor),
				-2px 2px 0px var(--bgcolor),
				-3px 3px 0px var(--fgcolor),
				-4px 4px 0px var(--fgcolor),
				-5px 5px 0px var(--fgcolor);
	}
	
	/* This code makes the page slide horizontally instead of vertically (must change slide transform)
	.container form input:nth-of-type(1):checked ~ .labels label {
		-webkit-transform: translateX(-0%);
		transform: translateX(-0%);
	}

	.container form input:nth-of-type(2):checked ~ .labels label {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.container form input:nth-of-type(3):checked ~ .labels label {
		-webkit-transform: translateX(-200%);
		transform: translateX(-200%);
	}

	.container form input:nth-of-type(4):checked ~ .labels label {
		-webkit-transform: translateX(-300%);
		transform: translateX(-300%);
	}

	.container form input:nth-of-type(5):checked ~ .labels label {
		-webkit-transform: translateX(-400%);
		transform: translateXS(-400%);
	}*/
	
	.devicon {
		margin: 1px;
		padding: 3px;
	}
	
	.fa {
		margin: 1px;
		padding: 3px;
	}
	
	.horiz {	/* mobile horizontal bar at top (opacity 0 to hide) */
		opacity: 0.3;
		border-left: 1px solid var(--accolor);
		box-shadow: 0 0 0px var(--fgcolor);
		left: 25vw;
		height: 100vh;
		position: absolute;
		width: 100vw;
	}
	
	.icontable {
		display: block;
		margin: 1px;
		padding: 3px;
	}
	
	.logo {
		display: none;
	}
	
	.mobileonly {
		display: block;
	}
	
	.nomobile {
		display: none;
	}
	
	.stylebutton{
		display: none;
	}
	
	.styleicon{
		opacity: 0.1;
		padding: 5px 0px 0px 5px;
		position: fixed;
		border: 3px solid var(--fgcolor);
		display: table;
		background: var(--bgcolor);
		right: 1vw;
		top: 1vw;
		width: 27px;
		height: 27px;
		line-height: 1.5;
		z-index: 1001;
		color: var(--fgcolor);
		box-shadow: -1px 1px 0px var(--bgcolor),
					-2px 2px 0px var(--bgcolor),
					-3px 3px 0px var(--fgcolor),
					-4px 4px 0px var(--fgcolor),
					-5px 5px 0px var(--fgcolor);
	}
	
	.vl {
		opacity: 0;
	}
	
}