/* reset */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0px solid black;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body {
	line-height: 1; 
	background-color: #ffe6ff;
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main */

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: auto;
	z-index: 1000;
}

.container form {
	box-sizing: border-box;
	text-align: left;
	padding: 22px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	left: 20px;
	z-index: 1000;
}

.container form input {
	height: 0;
	margin: 15px 0; /* distance between buttons vertically */
	z-index: 1000;
	animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

.container form input:checked {
	outline: 0;
	border: 1;
}

.container form input:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 40px;		/* size of cubes */
	height: 40px;
	border: 4px solid #212121;
	border-radius: 0;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.container form input:checked:before { background-color: #212121; }

.container form input:after {
	font-family: "Andale Mono", monospace;
	content: "" attr(title) "";
	position: relative;
	left: 55px; /* distance from left, inactive buttons */
	opacity: 0.65;
	color: #212121;
	font-size: 40px; /* font size of all nav buttons */
	display: block;
	min-width: 80px;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.container form input:checked:after {
	opacity: 1;
	left: 65px; /* distance from left, active button */
	text-shadow: 0 0 5px #212121;
}

.container form input:hover:after:not(label) {
	opacity: 1;
}

.container form input:nth-of-type(1):checked ~ .labels label {
	-webkit-transform: translateY(-0%);
	transform: translateY(-0%);
}

.container form input:nth-of-type(2):checked ~ .labels label {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.container form input:nth-of-type(3):checked ~ .labels label {
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.container form input:nth-of-type(4):checked ~ .labels label {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.container form input:nth-of-type(5):checked ~ .labels label {
	-webkit-transform: translateY(-400%);
	transform: translateY(-400%);
}

.container form input:nth-of-type(6):checked ~ .labels label {
	-webkit-transform: translateY(-500%);
	transform: translateY(-500%);
}

.container form input:nth-of-type(7):checked ~ .labels label {
	-webkit-transform: translateY(-600%);
	transform: translateY(-600%);
}

.container form .labels {
	opacity: 0;
	animation: fadeInAnimation ease 2s;
	animation-delay: 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.container form .labels label {
	min-width: 100vw;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	-webkit-transition: all 2.75s cubic-bezier(0.75, 0.25, 0, 1.05);
	transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

#slide1 {
	color: #212121 !important;
}

#slide2 {
	color: #212121 !important;
}

#slide3 {
	color: #212121 !important;
}

#slide4 {
	color: #212121 !important;
}

#slide5 {
	color: #212121 !important;
}

body {
	font-family: "Andale Mono", monospace;
	font-size: 20px;
	font-weight: 100;
	color: #212121;
}

body h1 {
	font-size: 40px;
	text-transform: uppercase;
}

body h2 {
	font-size: 28px;
}

body h3 {
	font-size: 26px;
}

body a:hover {
	color: #ffe6ff;
	background-color: #212121;
}

#profilepic {
	width: 30vw;
}

.content {	/* most/all of the text in the slides */
	width: 80%;
	box-sizing: border-box;
	padding: 0 110px;
	margin-left: 200px;
	padding-right: 200px;
}

.content a, p, h1, h2, h3 {
	color: #212121;
	text-decoration: none;
}

.content a:hover{
	color: #ffe6ff;
	background-color: #212121;
}

.devicon {
	font-size: 50px;
	margin: 10px;
}

.devicon:hover {
	color: #ffe6ff;
	background-color: #212121;
	border-radius: 5px;
	-webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.fa {
	margin: 10 10 0 0;
}

.fa:hover {
	color: #ffe6ff;
	background-color: #212121;
	border-radius: 5px;
	-webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.vl {
	position: fixed;
	border-left: 5px solid #212121;
	height: 80%;
	left: 310px;
    box-shadow: 0 0 5px #212121;
	opacity: 1;
	animation-name: animatevl;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
	animation-fill-mode: both;
}

@keyframes animatevl {
    0% {
		height: 0%;
	}
    100% {
		80%;
	}
}

.colorpicker{
	margin: 0 auto;
	width: 100%;
}

.stylebutton {
	position: fixed;
	display:table;
	bottom: 0px;
	border: none;
	width: 20%;
	height: 30px;
	z-index: 1001;
}

.stylebutton:hover {
	height: 30px;
	animation-name: cexpand;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
	animation-fill-mode: both;
}

@keyframes cexpand {
    0% {
		height: 30px;
	}
    100% {
		height: 40px;
	}
}

#contacttable {
    display: table;
}

#mobilecontacttable {
	display: none;
}

.mobileonly {
	display: none;
}

@media only screen and (max-device-width: 720px) {
	.mobileonly {
		display: block;
	}
	
	body p {
		font-size: 14px;
	}
	
	body a {
		text-decoration: underline;
		font-size: 14px
	}
	body h1 {
		font-size: 30px;
		text-transform: uppercase;
	}
	
	body h3 {
		font-size: 23px;
	}
	
	#contacttable {
		display: none;
	}
	
	#mobilecontacttable {
		width: 400px;
		display: block;
	}
	
	.vl {
		opacity: 0;
	}
	
	.content {
		width: 90%;
		padding: 0 30px;
		margin-left: 30px;
	}
	
	.container form .labels {
		width: 18%;
	}

	.container form .labels label {
		min-width: 18%;
	}
	
	#profilepic {
		width: 75vw;
	}	

	.container form {
		-webkit-justify-content: flex-start; /* mobile navigation at top */
		left: 0px;
	}
	
	.container form input {
		margin: 3px 0; /* distance between buttons vertically */
	}
	
	.container form input:after {
		left: 7vw; /* distance from left, inactive buttons */
		font-size: 6vw; /* font size of all nav buttons */
	}
	
	.container form input:before {
		width: 5vw;		/* size of cubes */
		height: 5vw;
		border: 1px solid #212121;
	}
		
	.container form input:checked:after {
		left: 9vw; /* distance from left, active button */
	}
	
	.content table {
		font-size: 15px;
		width: 80%;
	}

	.background-div {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		opacity: 30%;
	}
	
	.devicon {
		font-size: 2rem;
	}
	
	.devicon:hover {
		text-shadow: 0 0 0px #212121;
	}

	.fa:hover {
		text-shadow: 0 0 0px #212121;
	}
}
/* NEON LOGO BEGIN */
:root {
  --shadow-color: #212121;
  --shadow-color-light: #212121;
}

.logo {
	position:absolute;
	font-family: "Archivo", sans-serif;
	font-size: 5vw;
	top: 0px;
	right: 0px;
	text-align: right;
	color: black;
	animation: flicker 15s infinite;
}

@media only screen and (max-device-width: 720px) {
	.logo {
		font-size: 15vw;
		top: 70%;
		right: -30%;
		animation: flickermobile 15s infinite;
		transform: rotate(-90deg);

		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
	
	
	@keyframes flickermobile {
		0% {
			text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
			0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
			opacity: 0.1;
		}
		50% {
			text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
			0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
			opacity: 0.1;
		}
		100% {
			text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
			0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
			0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
			opacity: 0.1;
		}
	}
}

@keyframes flicker {
	0% {
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
		0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
		0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
		opacity: 1;
	}
	4% {
		opacity: 0.8;
	}
	6% {
		opacity: 0.95;
	}
	8% {
		opacity: 0.85;
	}
	10% {
		opacity: 0.95;
	}
	11% {
		opacity: 0.8;
	}
	12% {
		opacity: 0.95;
	}
	14% {
		opacity: 0.85;
	}
	16% {
		opacity: 1.00;
	}
	17% {
		opacity: 0.85;
	}
	19% {
		opacity: 0.8;
	}
	20% {
		opacity: 0.8;
	}
	24% {
		opacity: 0.9;
	}
	26% {
		opacity: 0.99;
	}
	28% {
		opacity: 0.8;
	}
	38% {
		opacity: 0.95;
	}
	40% {
		opacity: 0.8;
	}
	42% {
		opacity: 0.9;
	}
	44% {
		opacity: 0.8;
	}
	46% {
		opacity: 0.8;
	}
	56% {
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
		0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
		0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
		opacity: 0.95;
	}
	58% {
		opacity: 1.00;
	}
	60% {
		opacity: 0.8;
	}
	68% {
		opacity: 0.8;
	}
	70% {
		opacity: 0.9;
	}
	72% {
		opacity: 0.8;
	}
	93% {
		opacity: 0.8;
	}
	95% {
		opacity: 0.9;
	}
	97% {
		opacity: 0.8;
	}
	100% {
		text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
		0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
		0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
		opacity: 0.8;
	}
}
/* NEON LOGO END */