body {
	background-color: #DFE0D3;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	font-size: 30;
}

.nav {
	position: absolute;
	display: inline-block;
	left: 12vw;
	bottom: 0;
	z-index: 100;
	-webkit-animation: fadein 2s;
	-webkit-animation-delay:1.7s;
	animation-fill-mode: forwards;
	opacity: 0;
	width: 10%;
}

.nav a {
	font-family: "Bahnschrift Light";
	text-decoration: none;
	font-family: "Helvetica";
	font-weight: bold;
	font-size: 1.5vw;
	width: 3vw;
	transition: transform ease 0.1s;
	color: #DFE0D3;
    padding: 0 13 0 2;
}

.nav br{
	line-height: 1vw;
}
.nav a:hover {
	-webkit-animation: navshifton ease 0.2s;
	animation-fill-mode: forwards;
}

#navcont {
	width: 10vw;
	background-color: #000;
	height: 1.5vw;
}

@-webkit-keyframes navshifton { 
    0% { 
        padding-left: 2;
    }
    100% { 
        padding-left: 15;
		padding-right: 0;
    } 
}

@-webkit-keyframes expandAnimation { 
    0% { 
        height: 0vw;
		width: 3vw;
    }
	50% {
		width: 3vw;
		height: 150%;
	}
    100% {
		width: 1vw;
        height: 150%;
    } 
}


.bgbars {
	display: inline-block;
	position: absolute;
	top: 0;
	z-index: 0;
	float: left;
}

#bg1 {
	animation: expandAnimation ease 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	background-color: #581845;
	left: 3vw;
}
#bg2 {
	animation: expandAnimation ease 2s;
	animation-delay: 1.1s;
	animation-fill-mode: forwards;
	background-color: #900C3F;
	left: 4vw;
}
#bg3 {
	animation: expandAnimation ease 2s;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
	background-color: #C70039;
	left: 5vw;
}
#bg4 {
	animation: expandAnimation ease 2s;
	animation-delay: 1.3s;
	animation-fill-mode: forwards;
	background-color: #FF5733;
	left: 6vw;
}
#bg5 {
	animation: expandAnimation ease 2s;
	animation-delay: 1.4s;
	animation-fill-mode: forwards;
	background-color: #FFC300;
	left: 7vw;
}

.pages {
	display: inline-block;
	z-index: 10;
	left: 20vw;
	margin-left: 3vw;
	position: relative;
	height: 100%;
	width: calc(100% - 20vw);
	float: left;
	text-align: left;
	overflow: hidden;
	-webkit-animation: fadein 2s;
	-webkit-animation-delay: 0.2s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#intro {
	font-family: "Bahnschrift Light";
	left: 10vw;
	top: 1.5vw;
}

#intro span	{
	display: inline-block;
	font-size: 6vw;
	line-height: 10vw;
	height: 5vw;
	margin-left: 0vw;
	left: 12vw;
	top: 0%;
	
}

#about {
	padding: 20vw;
}

#resume {
	padding: 20vw;
}

#projects {
	padding: 20vw;
}

#contact {
	padding: 20vw;
}

#ovaltext {
	z-index: 1003;
	position: absolute;
	background-color: #DFE0D3;
	font-family: "Bahnschrift Light";
	font-size: 2vw;
	text-align: center;
	line-height: 1.6;
	border: 0.3vw solid #000;
	top: 8vw;
}

#text {
	z-index: 1003;
	position: absolute;
	background-color: #DFE0D3;
	font-family: "Bahnschrift Light";
	font-size: 1.5vw;
	text-align: justify;
	top: 15vw;
	left: 15vw;
}

#circle {
	position: absolute;
	border-radius: 50%;
	top: 0;
	width: 8vw;
	height: 8vw;
	z-index: 1003;
	background-color: #FF5733;
	border: 1vw solid #FF5733;
	right: 22vw;
}
#circle2 {
	position: absolute;
	border-radius: 50%;
	top: 0;
	width: 8vw;
	height: 8vw;
	z-index: 1002;
	background-color: red;
	border: 1vw solid red;
	right: 21vw;
}
#circle3 {
	position: absolute;
	border-radius: 50%;
	top: 0;
	width: 8vw;
	height: 8vw;
	z-index: 1001;
	background-color: purple;
	border: 1vw solid purple;
	right: 20vw;
}

#picture {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url('me.jpg');
	background-size: 100% 100%;
	border-radius: 150px
}







