/* reset */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0px solid black;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

/* main */

.container {
	width: 100vw;
	height: 100vh;
	background: #1b1b1b;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: auto;
}

.container form {
	box-sizing: border-box;
	text-align: left;
	padding: 22px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	left: 20px;
}

.container form input {
	height: 0;
	margin: 15px 0; /* distance between buttons vertically */
	z-index: 1;
}

.container form input:checked {
	outline: 0;
	border: 1;
}

.container form input:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 40px;		/* size of cubes */
	height: 40px;
	border: 2px solid white;
	border-radius: 0;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.container form input:checked:before { background-color: white; }

.container form input:after {
	content: "" attr(title) "";
	position: relative;
	left: 45px; /* distance from left, inactive buttons */
	opacity: 0.15;
	color: white;
	font-size: 40px; /* font size of all nav buttons */
	display: block;
	min-width: 80px;
	-webkit-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.container form input:checked:after {
	opacity: 1;
	left: 60px; /* distance from left, active button */
	text-shadow: 0 0 5px white;
}

.container form input:hover:after:not(label) {
	opacity: 1;
}

.container form input:nth-of-type(1):checked ~ .labels label {
	-webkit-transform: translateY(-0%);
	transform: translateY(-0%);
}

.container form input:nth-of-type(2):checked ~ .labels label {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.container form input:nth-of-type(3):checked ~ .labels label {
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.container form input:nth-of-type(4):checked ~ .labels label {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.container form input:nth-of-type(5):checked ~ .labels label {
	-webkit-transform: translateY(-400%);
	transform: translateY(-400%);
}

.container form input:nth-of-type(6):checked ~ .labels label {
	-webkit-transform: translateY(-500%);
	transform: translateY(-500%);
}

.container form input:nth-of-type(7):checked ~ .labels label {
	-webkit-transform: translateY(-600%);
	transform: translateY(-600%);
}

.container form .labels {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.container form .labels label {
	min-width: 100vw;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	-webkit-transition: all 2.75s cubic-bezier(0.75, 0.25, 0, 1.05);
	transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

#slide1 {
	color: white !important;
}

#slide1 table {
	width: 80%;
}

#slide2 {
	color: white !important;
}

#slide3 {
	color: white !important;
}

#slide4 {
	color: white !important;
}

#slide4 table {
	width: 80%;
}

#slide5 {
	color: white !important;
}

/* Fancy style */

body {
	font-family: "Open sans", sans-serif;
	font-size: 20px;
	font-weight: 100;
	color: white;
}

.background-div {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: black;
	background-repeat: no-repeat;
	background-size: 200% 100%;
	-webkit-filter: blur(2px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	opacity: 10%;
}

body h1 {
	font-size: 32px;
}

body p, a {
	font-size: 22px;
}

body a:hover {
	color: white;
	text-shadow: 0 0 4px white;
}

.content {
	width: 80%;
	box-sizing: border-box;
	padding: 0 110px;
	margin-left: 200px;
	padding-right: 200px;
}

.content a {
	color: white;
	text-decoration: none;
}

.content td tr {
	color: white;
	text-decoration: none;
}

.devicon {
	font-size: 50px;
	margin: 10px;
	text-shadow: 0 0 3px white;
}

.fa {
	margin: 10 10 0 0;
	text-shadow: 0 0 2px white;
}

h1 { text-transform: uppercase; }

.vl {
	position: fixed;
	border-left: 3px solid white;
	height: 80%;
	left: 290px;
    box-shadow: 0 0 15px white;
	opacity: 1;
	animation-name: animatevl;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
	animation-fill-mode: both;
}


.hl {
	position: fixed;
	border-top: 3px solid white;
	width: 50px;
	left: 267px;
    box-shadow: 0 0 15px white;
	opacity: 0;
	animation-name: animatehl;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1.5s;
	animation-fill-mode: both;
}

@keyframes animatevl {
    0% {
		height: 0%;
	}
    100% {
		80%;
	}
}

@keyframes animatehl {
    0% {
		width: 0px;
	}
    100% {
		width: 50px;
	}
}

#contacttable {
    display: table;
}

#mobilecontacttable {
	display: none;
}

#profilepic {
	width: 30vw;
}	

@media only screen and (max-device-width: 720px) {
	body p {
		font-size: 14px;
	}
	
	body a {
		text-decoration: underline;
		font-size: 14px
	}
	
	#contacttable {
		display: none;
	}
	
	#mobilecontacttable {
		display: table;
	}
	
	.vl {
		opacity: 0;
	}
	
	.hl {
		opacity: 0;
	}
	
	.content {
		width: 90%;
		padding: 0 30px;
		margin-left: 30px;
	}
	
	
	.container form .labels {
		width: 18%;
	}

	.container form .labels label {
		min-width: 18%;
	}
	
	#profilepic {
		width: 75vw;
	}	

	.container form {
		-webkit-justify-content: flex-start; /* mobile navigation at top */
		left: 0px;
	}
	
	.container form input {
		margin: 3px 0; /* distance between buttons vertically */
	}
	
	.container form input:after {
		left: 6vw; /* distance from left, inactive buttons */
		font-size: 6vw; /* font size of all nav buttons */
	}
	
	.container form input:before {
		width: 5vw;		/* size of cubes */
		height: 5vw;
		border: 1px solid white;
	}
		
	.container form input:checked:after {
		left: 8vw; /* distance from left, active button */
	}
	
	
	.content table {
		font-size: 15px;
		width: 80%;
	}
	
	.devicon {
		font-size: 2rem;
	}

	#slide1 table {
		width: 300px;
	}

	#slide4 table {
		width: 300px;
	}
	
	#slide4 a {
		font-size: 20px;
	}
	
	.background-div {
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		-ms-filter: blur(5px);
		opacity: 30%;
	}
	
}





