/* reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0px solid #212121;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body {
	line-height: 1.5; 
	background-color: #f2f3f4;
	background-size: 20px 20px;
	background-image:
		linear-gradient(to right, #e2e3e4 1px, transparent 1px),
		linear-gradient(to bottom, #e2e3e4 1px, transparent 1px);
}

body {
	font-family: "Overpass Mono", monospace;
	color: #212121;
}

body a {
	text-decoration: none;
}

body a:hover {
	color: #212121;
	text-shadow: 0 0 6px #212121;
	animation: fadeGlow ease-in-out 0.3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

body h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
}

body h2 {
	font-size: 28px;
	margin-bottom: 5px;
}

body h3 {
	font-size: 26px;
	margin-bottom: 5px;
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

bld {
	font-weight: bold;
}

hlt {
	color: #ff471a;
}

strong {
	font-weight:bold;
	color: #ff471a;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#profilepic {
	width: 30vw;
}

#slide1 {
	color: #212121 !important;
}

#slide2 {
	color: #212121 !important;
}

#slide3 {
	color: #212121 !important;
}

#slide4 {
	color: #212121 !important;
}

#slide5 {
	color: #212121 !important;
}

#techBubble{
	border: solid 2px #212121;
	border-radius: 0px;
	padding: 2px 5px;
	margin: 2px 5px 2px 5px;
}

#techBubble:hover{
	border: solid 2px #212121;
	color: #f2f3f4;
	background-color: #212121;
}

#techDesc {
	font-family: "Overpass Mono", monospace;
	font-size: 18px;
}

a.button{
	background-color: #f2f3f4;
	border: solid 2px #212121;
	border-radius: 0px;
	padding: 5px 10px 0px 10px;
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
	text-shadow: none;
}

a.button:hover{
	text-shadow: none;
}

.button {
	margin-right: 50px;
}

.button:hover {
	animation: fadeGlow212121 ease 0.2s;
    animation-fill-mode: forwards;
}

.colorpicker{
	margin: 0 auto;
	width: 100%;
}

.container {
	width: 100vw;
	height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: auto;
	z-index: 1000;
}

.container form {
	box-sizing: border-box;
	text-align: left;
	padding: 22px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	left: 20px;
	z-index: 1000;
}

.container form input {
	height: 0;
	margin: 15px 15px; /* distance between buttons vertically */
	z-index: 1000;
	animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.container form input:checked {
	outline: 0;
	border: 1;
}

.container form input:before { /* all cubes style */
	content: "";
	position: absolute;
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 4px solid #212121;
	border-radius: 0;
	cursor: pointer;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.container form input:checked:before { /* active cube style */
	background-color: #212121; 
    box-shadow: 0 0 10px #212121;
}

.container form input:after {
	font-family: "Overpass Mono", monospace;
	content: "" attr(title) "";
	position: relative;
	left: 55px;			/* distance from left, inactive buttons */
	opacity: 0.55;		/* opacity of inactive buttons */
	color: #212121;		/* color of all buttons */
	font-size: 35px;	/* font size of all buttons */
	display: block;
	min-width: 80px;
	transition: all 0.25s linear;
	-webkit-transition: all 0.25s linear;
}

.container form input:checked:after {
	opacity: 1;
	left: 65px; /* distance from left, active button */
	text-shadow: 0 0 5px #212121;
}

.container form input:hover:after:not(label) {
	opacity: 1;
}

.container form input:nth-of-type(1):checked ~ .labels label {
	-webkit-transform: translateY(-0%);
	transform: translateY(-0%);
}

.container form input:nth-of-type(2):checked ~ .labels label {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.container form input:nth-of-type(3):checked ~ .labels label {
	-webkit-transform: translateY(-200%);
	transform: translateY(-200%);
}

.container form input:nth-of-type(4):checked ~ .labels label {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.container form input:nth-of-type(5):checked ~ .labels label {
	-webkit-transform: translateY(-400%);
	transform: translateY(-400%);
}

.container form input:nth-of-type(6):checked ~ .labels label {
	-webkit-transform: translateY(-500%);
	transform: translateY(-500%);
}

.container form input:nth-of-type(7):checked ~ .labels label {
	-webkit-transform: translateY(-600%);
	transform: translateY(-600%);
}

.container form .labels {
	opacity: 0;
	animation: fadeInAnimation ease 2s;
	animation-delay: 0.5s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.container form .labels label {
	min-width: 100vw;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 0;
	-webkit-transition: all 2.75s cubic-bezier(0.75, 0.25, 0, 1.05);
	transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

.content {
	width: 60%;
	box-sizing: border-box;
	padding: 30px;
	margin-left: 200px;
	text-shadow: none;
	border: solid 0.25px #212121;
	box-shadow: -6px 6px 0px #212121;
	background: #f2f3f4;
}

.content a, p, h1, h2, h3 { /* most/all of the text in the slides */
	color: #212121;
}

.devicon {
	padding: 10px;
	margin: 10px;
}

.devicon:hover {
	color: #ff471a;
	background-color: #212121;
	border-radius: 5px;
	-webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.fa {
	margin: 10px;
	padding: 10px;
}

.fa:hover {
	color: #ff471a;
	border-radius: 5px;
	background-color: #212121;
	-webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.icontable {
    display: inline;
	font-size: 26px;
	width: 100%;
}

.mobileonly {
	display: none;
}

.vl {
	position: fixed;
	border-left: 5px solid #ff471a;
	height: 80%;
	left: 310px;
    box-shadow: 0 0 15px #212121;
	opacity: 1;
	animation-name: animatevl;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 1s;
	animation-fill-mode: both;
}

.bstylebutton {
    box-shadow: 0 0 20px rgba(33, 33, 33, 1);
	position: fixed;
	display: table;
	background: #212121;
	right: -45px;
	top: -45px;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	z-index: 1001;
}

.bstylebutton:hover {
    box-shadow: 0 0 100px rgba(33, 33, 33, 1);
	-webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.wstylebutton {
	display: none;
}

:root {
  --shadow-color: #212121;
  --shadow-color-light: #212121;
}

@keyframes animatevl {
    0% {
		height: 0%;
	}
    100% {
		height: 80%;
	}
}

@keyframes cexpand {
    0% {
		height: 30px;
	}
    100% {
		height: 40px;
	}
}

@keyframes fadeGlow { 
	0% { 
		text-shadow: 0 0 0px #212121; 
	} 
	100% { 
		text-shadow: 0 0 6px #212121; 
	} 
}

@keyframes fadeGlow212121 { 
	0% { 
		box-shadow: 0 0 0px #212121; 
	} 
	100% { 
		box-shadow: -6px 6px 0px #212121; 
	} 
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@media only screen and (max-device-width: 720px) {
	body {
		line-height: 1.2;
	}
	
	body a {
		text-decoration: none;
	}
	
	body h1 {
		font-size: 30px;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body h2 {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body h3 {
		font-size: 18px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	body p {
		font-size: 14px;
	}
	
	#profilepic {
		width: 75vw;
	}
	
	#techBubble{
		border: solid 1px #212121;
		border-radius: 0px;
		padding: 2px 4px;
		margin: 2px;
		font-size: 12px;
	}

	#techDesc {
		font-family: "Overpass Mono", monospace;
		font-size: 12px;
	}
	
	.content {
		width: 90vw;
		min-height: 75vh;
		padding: 10px;
		margin-left: 0vw;
	}

	.container form {
		-webkit-justify-content: flex-start; /* mobile navigation at top */
		left: 0px;
	}

	.container form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container form .labels {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.container form .labels label {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	
	.container form input {
		margin: 90vh 0 0 11vw; /* distance between buttons horizontally */
	}
	
	.container form input:before {
		width: 5vw;		/* size of cubes */
		height: 5vw;
		border: 2px solid #212121;
	}
	
	.container form input:checked:before {
		width: 6vw;		/* active cube style */
		height: 6vw;
		border: 2px solid #ff471a;
		background-color: #ff471a;
		box-shadow: 0 0 10px #ff471a;
	}
	
	.container form input:after {
		display: none;
	}

	.container form input:checked:after {
		display: block;
		position: absolute;
		opacity: 1;
		left: 5vw; /* distance from left, active button */
		top: 5vw;
		font-size: 30px;
		text-shadow: none;
		font-weight:bold;
	}
	
	.container form input:nth-of-type(1):checked ~ .labels label {
		-webkit-transform: translateX(-0%);
		transform: translateX(-0%);
	}

	.container form input:nth-of-type(2):checked ~ .labels label {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	.container form input:nth-of-type(3):checked ~ .labels label {
		-webkit-transform: translateX(-200%);
		transform: translateX(-200%);
	}

	.container form input:nth-of-type(4):checked ~ .labels label {
		-webkit-transform: translateX(-300%);
		transform: translateX(-300%);
	}

	.container form input:nth-of-type(5):checked ~ .labels label {
		-webkit-transform: translateX(-400%);
		transform: translateXS(-400%);
	}
	
	.devicon {
		margin: 1px;
		padding: 3px;
	}
	
	.fa {
		margin: 1px;
		padding: 3px;
	}
	
	.horiz {
		border: none;
		border-top: solid 2px #212121;
		box-shadow: 0 0 6px #212121;
		top: 6vh;
		left: 5vw;
		position: absolute;
		width: 90vw;
	}
	
	.icontable {
		display: block;
		margin: 1px;
		padding: 3px;
	}
	
	.mobileonly {
		display: block;
	}
	
	.nomobile {
		display: none;
	}
	
	.vl {
		opacity: 0;
	}
	
	.bstylebutton {
		box-shadow: none;
		background-color: transparent;
		background-image: url("moon-full.svg");
		background-size: 100% 100%;
		right: 2vh;
		top: 2vh;
		width: 4vh;
		height: 4vh;
	}
}
